body {
    min-width: 290px;
}

#navbar {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 290px;
    width: 300px;
    height: 100%;
    margin-top: 2.5em;
}

#navbar header {
    padding-left: 2em;
}

#navbar ul {

}

#navbar li {
    border-top: #000 solid 1px;
    padding: 1em 0 1em 1em;
    list-style-type: none;
}

#navbar a {
    text-decoration: none;
}

#main-doc {
    padding: 30px;
    position: relative;
    margin-left: 310px;
    margin-bottom: 5em;
}

header {
    font-size: 1.8em;
}

h3 {
    font-size: 1.3em;
}

code {
    background-color: #f7f7f7;
    text-align: left;
    padding: 10px;
    line-height: 2;
    white-space: pre;
    display: block;
}

@media screen and (max-width: 400px) {
    #navbar {
        position: absolute;
    }
}